@font-face{font-family:'Big Shoulders Stencil Display';font-weight:900;src:url(BigShouldersStencilDisplay-900.woff2) format('woff2');}
@font-face{font-family:'Rye';font-weight:400;src:url(Rye-400.woff2) format('woff2');}
@font-face{font-family:'Sedgwick Ave Display';font-weight:400;src:url(SedgwickAveDisplay-400.woff2) format('woff2');}
@font-face{font-family:'UnifrakturCook';font-weight:700;src:url(UnifrakturCook-700.woff2) format('woff2');}
